h1, h2 {
    color:purple

}

p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header, footer {
   border-style:solid;
    border-color:purple;
}

nav {
   border-style:solid;
    border-color: yellow
}

main {
   border-style:solid;
    border-color: pink;
}

section {
   border-style:solid;
    border-color: blue;
}